<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h3>이웃 테이블</h3>
	<button type="button" id="get_member_list_button">전체 이웃 테이블 불러오기</button><br>
	<table>
		<thead>
			<tr>
				<td colspan="11">
					<form>
						<input type="text">
						<button type="submit">검색</button>	
					</form>
				</td>
			</tr>
			<tr>
				<td>접속이름</td>
				<td>비밀번호</td>
				<td>손글주소</td>
				<td>별칭</td>
				<td>이름</td>
				<td>생년월일</td>
				<td>생성일</td>
				<td>마지막 수정일</td>
				<td>인가</td>
				<td></td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input type="text" name="id" id="member_id" placeholder="접속이름"></td>
				<td><input type="text" name="password" id="member_password" placeholder="비밀번호"></td>
				<td><input type="text" name="email" id="member_email" placeholder="손글주소"></td>
				<td><input type="text" name="nickname" id="member_nickname" placeholder="별칭"></td>
				<td><input type="text" name="name" id="member_name" placeholder="이름"></td>
				<td><input type="text" name="birthday" id="member_birthday" placeholder="생년월일"></td>
				<td><input type="text" name="created_date" id="member_created_date" placeholder="생성일" disabled></td>
				<td><input type="text" name="last_modified_date" id="member_last_modified_date" placeholder="마지막 수정일" disabled></td>
				<td><input type="text" name="authorization" id="member_authorization" placeholder="인가"></td>
				<td colspan="2"><button type="button" id="member_add_button">추가</button></td>
			</tr>
		</tbody>
		<tbody id="output_member_list">
			
		</tbody>
	</table>
	
	<script th:inline="javascript">
		document.addEventListener(
			"DOMContentLoaded",
			function(){
				
				// 전체 이웃 불러오기
				get_member_list_button.addEventListener(
					"click",
					function(){
						const get_member_list_button=document.getElementById("get_member_list_button");
						const output_member_list=document.getElementById("output_member_list");
						output_member_list.innerHTML="<tr><td>불러오는 중...</td></tr>";
						
						fetch("/member/get_member_list")
							.then(response=>{
								return response.json();
							})
							.then(response=>{
								output_member_list.innerHTML="";
								if(response.length>0){
									response.forEach(item=>{
										output_member_list.innerHTML+=`
											<tr>
												<td>${item.id}</td>
												<td>*****</td>
												<td>${item.email}</td>
												<td>${item.nickname}</td>
												<td>${item.name}</td>
												<td>${item.birthday}</td>
												<td>${item.created_date}</td>
												<td>${item.last_modified_date}</td>
												<td>${item.authorization}</td>
												<td><button type="button" class="member_modify_button" value="${item.id}">수정</button></td>
												<td><button type="button" class="member_delete_button" value="${item.id}">삭제</button></td>
											</tr>
										`;
										
									})
								}else{
									output_member_list.innerHTML="데이터 없음";
								}
							})
							.catch(response=>{
								console.log("전체 이웃 불러오기 통신 에러");
							})
					}
				)
				
				// 새로운 이웃 추가
				member_add_button.addEventListener(
					"click",
					function(){
						const member_id=document.getElementById("member_id");
						const member_password=document.getElementById("member_password");
						const member_email=document.getElementById("member_email");
						const member_nickname=document.getElementById("member_nickname");
						const member_name=document.getElementById("member_name");
						const member_birthday=document.getElementById("member_birthday");
						const member_authorization=document.getElementById("member_authorization");
						
						// 정규식 추가
						
						const new_member={
							id:member_id.value.trim(),
							password:member_password.value.trim(),
							email:member_email.value.trim(),
							nickname:member_nickname.value.trim(),
							name:member_name.value.trim(),
							birthday:member_birthday.value.trim(),
							authorization:member_authorization.value.trim()
						};
						
						fetch(
							"/member/add",
							{
								method:"POST",
								headers:{'Content-Type':'application/json'},
								body:JSON.stringify(new_member)
							}
						).then(response=>{
							return response.text();
						}).then(response=>{
							alert(response);
							get_member_list_button.click();
						}).catch(response=>{
							console.log("이웃 추가 서버 통신 에러");
						})
						
					}
				)
				
				// 이웃 삭제
				output_member_list.addEventListener(
					"click",
					function(event){
						if(event.target&&event.target.classList.contains('member_delete_button')){
							const delete_member_id=event.target.value;
							if(confirm(`정말 ${delete_member_id}님을 삭제하시겠습니까?`)){
								fetch(
									`/member/delete?id=${delete_member_id}`,
									{
										method:"DELETE"
									}
								).then(response=>{
									return response.text();
								}).then(response=>{
									alert(response);
									get_member_list_button.click();
								}).catch(response=>{
									console.log("이웃 삭제 서버 통신 에러");
								})
							}
						}
						
					}
				)
				
				// 이웃 수정
				
				
				
				
				
				
			}	
		)
	</script>
</body>
</html>