<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <meta name="_csrf" th:content="${_csrf?.token}"/>
    <meta name="_csrf_header" th:content="${_csrf?.headerName}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/member_style.css}"/>
</head>
<body>
	<button type="button" id="logout_button" style="position: absolute; right:10px;">로그아웃</button>
	<div th:replace="~{fragments/member_fragment::member_table}"></div>
	<div th:replace="~{fragments/member_fragment::member_add_form}"></div>
	
	
	<script th:src="@{/js/member_javascript.js}" defer></script>
</body>
</html>