<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
</head>
<body>

<div th:fragment="member_table">
	<h3>이웃 테이블</h3>
		<div class="table-controls">
			<button type="button" id="get_member_list_button">전체 이웃 테이블 불러오기</button><br>
			<button type="button" id="open_add_modal" style="float: right;">이웃추가</button>
				<form style="float: right;">
					<input type="text" id="member_search_input" placeholder="손글주소, 별칭, 이름" />
				</form>
		</div>
	<div class="table-container">
		<table>
			<thead>
			<tr>
				<td colspan="10">
				</td>
			</tr>
			<tr>
				<td>접속이름</td>
				<td>비밀번호</td>
				<td>손글주소</td>
				<td>별칭</td>
				<td>이름</td>
				<td>생년월일</td>
				<td>생성일</td>
				<td>마지막 수정일</td>
				<td>인가</td>
				<td>관리</td>
			</tr>
			</thead>
			<tbody id="output_member_list">
			<!-- 백엔드에서 불러온 사용자 정보들이 여기에 표시됨 -->
			</tbody>
		</table>
	</div>
</div>

<!-- 🔹 새로운 이웃 추가 fragment -->
<div th:fragment="member_add_form">
	<div id="add_modal" style="display:none;">
		<div id="member_add_div">
			<span id="close_add_modal">&times;</span>
			<h3>새로운 이웃 추가</h3>

			<div>
				<label for="id">접속이름</label>
				<input type="text" name="id" id="input_id" placeholder="영소문자를 1글자 이상, 숫자 옵션 6~15자리">
				<button type="button" id="id_check_button">중복확인</button>
			</div>
			<div>
				<label for="password">비밀번호</label>
				<input type="text" name="password" id="input_password" placeholder="특수문자/숫자/영문자 각각 최소 1개 이상 사용 8~16자리">
			</div>
			<div>
				<label for="password_verification">비밀번호 확인</label>
				<input type="text" name="password_verification" id="input_password_verification" placeholder="비밀번호 확인">
			</div>
			<div>
				<label for="email">손글주소</label>
				<input type="email" name="email" id="input_email" placeholder="손글주소">
				<button type="button" id="email_check_button">중복확인</button>
			</div>
			<div>
				<input type="text" id="input_email_verification_code" placeholder="코드 입력">
				<button type="button" id="send_email_verification_code">이메일 인증</button>
			</div>
			<div>
				<label for="nickname">별칭</label>
				<input type="text" name="nickname" id="input_nickname" placeholder="욕설 제한, 한글 2~8자리, 숫자 1~4자리">
			</div>
			<div>
				<label for="name">이름</label>
				<input type="text" name="name" id="input_name" placeholder="한글 2~10자리">
			</div>
			<div>
				<label for="birthday">생년월일</label>
				<input type="text" name="birthday" id="input_birthday" placeholder="날짜 8자리 (0~120세)">
			</div>
			<div>
				<label for="authorization">인가</label>
				<input type="text" name="authorization" id="input_authorization" placeholder="A 또는 U (A : 관리자 , U : 사용자)">
			</div>
			<div>
				<button type="button" id="member_add_button">추가</button>
			</div>
		</div>
	</div>
</div>

</body>
</html>
